body{
  font-family:'lato', 'sans-serif';
  margin:auto;
  :0.2;
}

nav{
  background-color:black;
  padding:15px;
}

li{
  padding-right:30px;
}

ul{
  display:flex;
  list-style-type: none;
  justify-content:center;
}

a{
  color:white;
  text-decoration:none;
}

a:hover{
  color:lightgrey;
}
